@import 'vendors/normalize';
@import 'base/base';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
}

.rest {
    border-radius: 15px;
    margin: 3%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rest h2 {
    padding-top: 5px;
    padding-left: 33px;
}

.rest a {
    text-decoration: none;
    color: black;
}

.restaurants-card-wrap {
    display: flex;
    flex-wrap: wrap;
}

.restaurants-card {
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    height: 180px;
    width: 180px;
    color: black;
    text-decoration: none;
}

.restaurants-card img {
    object-fit: cover;
    width: 100px;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tagline {
    font-size: 12px;
    padding: 0 25px 15px 25px;
}