$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$shade-color: #555;
$white-color: #fff;
$black-color: #000;
$color-button: linear-gradient(to top, #9356dc, #cf64dc, #e86edb);
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;