*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
}

body,
html {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 18px;
}

.location {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: #e7e7e7;
    justify-content: center;
    padding: 15px;
    font-size: 15px;

    i {
        display: flex;
        align-items: flex-start;
       padding: 5px 15px 0 15px;
        flex-direction: row;
    }
}

.tagline {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 35px 25px 35px 25px;
    align-items: center;
    background-color: #f7f7f7;

    h1 {
        font-size: 23px;
        padding: 5px;
        margin: 0;
        display: flex;
        justify-content: center;


    }

    p {
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding: 15px 25px 15px 25px;
        margin: 0 25px 0 25px;
    }
}

button {
    background-image: linear-gradient($secondary-color, $primary-color);
    border-radius: 25px;
    width: 215px;
    height: 50px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
    color: white;
}

button:hover {
    // TODO USE SASS LIGHTEN FUNCTION ON EACH COLOR BELOW
    background-image: linear-gradient(to top left, $secondary-color, $primary-color);

}

.btn-wraper {
    background-color: $white-color;
}

.howto {
    display: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.howto h2 {
    font-size: 23px;
    padding: 15px 45px 15px 45px;
    max-width: 375px;
    display: flex;
    justify-content: flex-end;

}

.step {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    width: 85%;
    border-radius: 10px;
    border-style: none;
    box-shadow: solid;
    background-color: #f7f7f7;
    align-items: center;
    flex-direction: column;

    .step-number {
        display: flex;
        justify-content: flex-start;
        background-color: $primary-color;
        border-radius: 105px;
        width: 25px;
        height: 25px;
        right: 105px;
        position: relative;
        padding: 6px;
        font-size: 14px;
        align-items: center;
        
    }

    .i {
        display: flex;
        align-items: flex-start;
        width: 25%;
        
    }
}

<<<<<<< HEAD
=======
.step-number {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 105px;
    width: 25px;
    height: 25px;
    right: 15px;
    position: relative;
    padding: 6px;
    font-size: 14px;
    align-items: center;
}

>>>>>>> 1c967d1d861094813edc75273fc2d672f632c229
.restaurants {
    width: 275px;
    height: 275px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 28px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    position: relative;
}
img{
    width: 275px;
    height: 175px;
    border-radius: 7%;
}

<<<<<<< HEAD
=======
img{
    width: 275px;
    height: 175px;
    border-radius: 7%;
}

>>>>>>> 1c967d1d861094813edc75273fc2d672f632c229
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    text-decoration: none;
}

.card-text {
    text-decoration: none;
}

.new {
    display: flex;
    justify-content: flex-start;
    position: absolute;
<<<<<<< HEAD
    left: 185px;
    top: 25px;
    padding: 3px 25px 3px 25px;
    color: #099774;
    border-style: none;
=======
    left: 225px;
    top: 25px;
    color: $white-color; 
    border-style: solid;
>>>>>>> 1c967d1d861094813edc75273fc2d672f632c229
    border-radius: 3px;
    background-color: $tertiary-color;
}

<<<<<<< HEAD
.heart {
    position: absolute;
    left: 200px;
    bottom: 55px;
    height: 25px;
    justify-content: flex-start;
    display: flex;

    .heart:hover {
        background-image: linear-gradient(to top left, $secondary-color, $primary-color);
    }

    .i {
        display: flex;
        align-items: flex-start;
        width: 55%;
        // flex-direction: row;
    }
=======
.fa-heart::before {
    position: absolute;
    left: 200px;
    justify-content: flex-start;
    display: flex;
>>>>>>> 1c967d1d861094813edc75273fc2d672f632c229
}