.logo {
    width: 100px;
    height: 100px;
}

.works {

    &-heading {
        background-color: $white-color;
    }

    .btn-wraper {
        background-color: $white-color;
    }

}

.tagline {
    font-size: 12px;
    padding: 0 25px 15px 25px;

    button {
        background-image: linear-gradient($secondary-color, $primary-color);
        border-radius: 20px;
        padding: 8px 20px;
        margin: 3px;
        border-style: none;

        &:hover {
            background-color: $secondary-color;
            color: $white-color;
        }
    }
}

.explore_button .rest {
    border-radius: 5px;
    margin: 3%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.restaurants h2 {
    padding-top: 5px;
    padding-left: 33px;

    .restaurants a {
        text-decoration: none;
        color: black;

        .restaurants-card {
            border-radius: 5px;
            padding: 5px;
            background-color: white;
            height: 180px;
            width: 180px;
            color: black;
            text-decoration: none;

           .restaurants-card-wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: none;
                margin: 1%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                gap: 15px;
            }
        }
    }
}

img {
    object-fit: cover;
    width: 280px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}