*,
::before,
::after {
    box-sizing: border-box;
}

// body,
// html{
//     font-family: "Shrikhand",sans-serif;
// }

header {
    position: relative;
    width: 100%;

    .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        left: 0;
        padding-left: 15px;

        a {
            text-decoration: none;
            color: black;
        }

        i {
            font-size: 20px;
        }
    }
}

.food-menu {
    object-fit: cover;
    position: relative;
    background-color: #eae5e5;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    margin-top: -40px;

}


.logo-img {
    width: 175px;
    margin: 25px 0 10px 0;
}

.main-image {
    object-fit: cover;
    border-style: none;
    height: 260px;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: shrikhand, sans-serif;
}

.menu-course {
    border-bottom: solid 2px $tertiary-color;
    width: 30px;

    h2 {
        white-space: nowrap;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
        color: #727472db;
    }
}

.favorite {
    // bottom: 45px;
    // margin: -15px;
    // height: 25px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    font-size: 25px;
    color: black;
}

.menu-cards {
    width: 100%;
    padding-left: 25px;
    display: flex;

}

.menu-card {
    border-radius: 15px;
    margin: 15px 10px 15px 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    // position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    animation: fadeinup ease-in-out;
    transition: padding-right 1s ease-in-out;
    width: 340px;
    height: 63px;
    background-color: white;
    display: block;

    &__squeezer {
        display: flex;
        width: 390px;
        transition: width 0.5s;
    }

    &__text {
        width: 290px;
        transition: width 0.5s;
        padding-top: 3px;

        h3 {
            padding-left: 10px;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 10px;
            color: #727472db;
        }
    }

    &:hover &__text {
        width: 240px;
    }

    &:hover &__squeezer {
        width: 340px;

    }

    &:hover &__checkmark i {
        animation: rotate-checkmark 0.5s forwards;
    }


    &__price {
        // TODO 
        width: 50px;
        display: flex;
        align-items: flex-end;

        em {
            font-weight: bold;
            font-style: normal;
            padding-left: 2px;
            padding-bottom: 5px;
        }
    }

    &__checkmark {
        // TODO 
        width: 50px;
        height: 63px;
        background-color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: white;
            padding: 10px;
        }
    }
}

@keyframes rotate-checkmark {
    to {
        transform: rotate(360deg);
    }
}

.order {
    padding-top: 30px;
    padding-bottom: 70px;

    button {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .food-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .order {
        padding-top: 100px;
        padding-bottom: 70px;
    
        button {
            display: flex;
            flex-direction: column;
            font-size: 15px;
        }
    }
}