*,
::before,
::after {
    box-sizing: border-box;
}

// body,
// html{
//     font-family: "Shrikhand",sans-serif;
// }

header {
    position: relative;
    width: 100%;

    .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        left: 0;
        padding-left: 15px;

        .i {
            font-size: 20px;
        }
    }
}

.food-menu {
    width: 300px;
    height: 255px;
    position: relative;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.menu-course {
    h2 {
        width: 30px;
        border-bottom: solid 2px $tertiary-color;
        white-space: nowrap;
    }
}

.heart {
    position: absolute;
    left: 270px;
    bottom: 45px;
    margin: -15px;
    height: 25px;
    justify-content: flex-start;
    display: flex;
    font-size: 25px;
}

.entrees {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

h3 {
    display: flex;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    position: relative;

    p {
        display: flex;
        width: 300px;
        height: 60px;
        border-radius: none;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        align-items: center;
        position: relative;
    }
}